@model Yummy.Models.Recipe

@{
    ViewData["Title"] = "Recipe Details";
}

<h1>Recipe Details</h1>

<div>
    <h2>@Model.Name</h2>
    <div>Time: @Model.Time</div>
    <div>Difficulty: @Model.Difficulty</div>
    <div>Number Of Likes: @Model.NumberOfLikes</div>
    <div>Ingredients: @Model.Ingredients</div>
        
        <div>Process: @Model.Process</div>
        <div>Tips And Tricks: @Model.TipsAndTricks</div>
</div>

<a asp-action="Index">Back to List</a>